
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/sgsrmit.png);
    background-position: center;
    background-size: cover;
    position:relative;
}
nav img{
  padding: 2% 6%;
  width: 150px;
}
.masthead{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.masthead h1{
    font-size: 75px;
    font-weight: 700;
    line-height: 3.25rem;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: 'Oswald', sans-serif;
}
.masthead p{
    margin: 30px 20px 40px;
    font-size: 3.5-rem;
    font-style: normal;
    line-height: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(231, 78, 31);
    padding: 12px 34px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgb(231, 78, 31);
    background: rgb(231, 78, 31);
    transition: 1s;
}
.teamprofile h2{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-top: 60px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}
hr {
    width: 90px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 8px;
    border: none;
    background: rgb(231, 78, 31);
  }

#member1-line{
    width: 140px;
    height: 4px;
}
.teamprofile p{
    margin: 40px 140px 60px;
    color: rgb(92, 88, 88);
    font-size: 2.75-rem;
    font-style: normal;
    text-align: center;
    line-height: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
}
.styled-table {
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 90px;
    font-size: 0.9em;
    width: 45em;
    height: 20em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color:#2D2E30;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 15px 20px;
}

.styled-table tbody td {
    text-align: left;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #2D2E30;
}
a.team:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.team:visited {
    color: rgb(0, 0, 0);
}
a.team:hover {
    color: rgb(231, 78, 31);
}
a.team:active {
    color:rgb(177, 46, 6);
}

.text-uppercase {
    text-transform: uppercase !important;
  }

.img-fluid {
    max-width: 80%;
    height: auto;
}
.img-fluid_team {
    max-width: 20%;
    height: auto;
}

.d-block {
    display: block !important;
  }

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.rounded-circle {
    border-radius: 50% !important;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

.list-item1{
    font-size: 20px;
    text-align: justify;
    margin-left: 150px;
    color: rgb(87, 87, 87);
    font-family: 'Nunito Sans', sans-serif;
}

.list-item2{
    text-align: justify;
    margin-left: 150px;
    color: rgb(87, 87, 87);
    font-family: 'Nunito Sans', sans-serif;
}

.back-button{
    text-align:center;
    margin-top:-40px;
}

.member-text{
    text-align: justify; 
    text-indent: 30px; color: 
    rgb(87, 87, 87);
}